
/* Your CSS Code here. */
.container{
    margin: 20px;
  
}
.parent{
    border:15px solid blue;
    background-color:lightblue;
    width: 300px;
    padding: 50px;
}
.line{
    border:1px dashed black;
}
